{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="/static/css/product_progress.css" />
{% endblock %} {% block title %}Product Progress{% endblock %} {% block content
%}
<h1>Faishme Product Progress Sheet</h1>
<table border="1">
  <thead>
    <tr>
      <th>Product ID</th>
      <th>Product Status</th>
    </tr>
  </thead>
  <tbody id="productTableBody">
    <!-- Placeholder while JS fetches data -->
  </tbody>
</table>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/product_progress.js') }}"></script>
{% endblock %}
